body {
    background-color: #2B2B2B;
    background-size: cover;
    font-family: "Work sans";
}

@font-face {
    font-family: "Work sans";
    src: url("fonts/WorkSans-VariableFont_wght.ttf");
}

@font-face {
    font-family:"Space mono" ;
    src: url("fonts/SpaceMono-Regular.ttf");
}

.signup {
    width: 152px;
    height: 60px;
    gap: 12px;
    border-radius: 20px ;
    background-color: #A259FF;
    border: 0;
    outline: none;
    font-family: "Work sans";
    color: white;
    font-size: 16px;
    font-weight: 600;
    line-height: 22.4px;
    text-align: center;
    background-image: url("User.png");
    background-repeat: no-repeat;
    background-position:20px center;
    padding-left: 10px;
}

.nav-item {
    margin-left:40px;
}

.NFT {
    font-size: 67px;
    font-weight: 600;
    line-height: 73.7px;
    text-align: left;
    color: white;
}

.ptext1 {
    font-size: 22px;
    font-weight: 400;
    line-height: 35.2px;
    text-align: left;
    color: #919191;
}

.button-rocket {
    font-size: 16px;
    font-weight: 600;
    line-height: 22.4px;
    text-align: center;
    color: white;
    background-color: #A259FF;
    width: 224px;
    height: 60px;
    border-radius: 20px;
    opacity: 0px;
    border: 0;
    outline: 0;
    background-image: url("RocketLaunch.png");
    background-repeat: no-repeat;
    background-position: 45px center;
    padding-left: 30px;
}

.span1 {
    font-size: 28px;
    font-weight: 700;
    text-align: left;
    color: white;
    margin: 0;
    font-family:"Space mono" ; 
}

.span2 {
    font-size: 23.99px;
    font-weight: 400;
    text-align: left;
    color: rgb(122, 122, 122);
}

.ptext2 {
    font-size: 28px;
    font-weight: 600;
    line-height: 39.2px;
    color: white;
    margin: 0;
}

.ptext3 {
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    color: rgb(122, 122, 122);
}

.bg-primary1 {
    margin-top: 30px;
}

.ptext4 {
    font-size: 22px;
    font-weight: 600;
    line-height: 30.8px;
    color: white;
    margin-top: 10px;
}

.button2 {
    width: 247px;
    height: 60px;
    gap: 12px;
    border-radius: 20px;
    border: 2px solid #A259FF;
    opacity: 0px;
    background-image: url("RocketLaunch\ \(1\).png");
    background-repeat: no-repeat;
    background-position:45px center;
    padding-left: 30px;
    float: right;
    background-color: #2B2B2B;
    font-size: 16px;
    font-weight: 600;
    line-height: 22.4px;
    text-align: center;
    color: white;
}

.content1 {
    background-color: #3B3B3B;
    border-radius: 20px;
}

.ptag1 {
    font-size: 22px;
    font-weight: 600;
    line-height: 30.8px;
    color: white;
    margin-top: 10px;
    margin: 0;
    margin-top: 10px;
}

.ptag2 {
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    color:#858584;
}

.ptag3 {
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    color: white;
}

.button3 {
    width: 187px;
    height: 60px;
    gap: 12px;
    border-radius: 20px;
    border: 2px solid #A259FF;
    opacity: 0px;
    background-image: url("Eye.png");
    background-repeat: no-repeat;
    background-position:45px center;
    padding-left: 30px;
    float: right;
    background-color: #2B2B2B;
    font-size: 16px;
    font-weight: 600;
    line-height: 22.4px;
    text-align: center;
    color: white;
}

.grey {
    background-color: #3B3B3B;
    padding: 30px;
    border-radius: 20px;
}

.ptext5 {
    font-size: 38px;
    font-weight: 600;
    line-height: 45.6px;
    text-align: left;
    color: white;
}

.ptext6 {
    font-size: 22px;
    font-weight: 400;
    line-height: 35.2px;
    text-align: left;
    color: rgb(155, 155, 155);
}

.label {
    position: relative;
    margin-top: 13px;
}

.input {
    width: 425px;
    height: 60px;
    gap: 12px;
    border-radius: 20px ;
    outline: none;
    border: 0;
    padding-left: 20px;

}

.btnn {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #A259FF;
    color: white;
    width: 211px;
    height: 60px;
    gap: 12px;
    border-radius: 20px;
    outline: none;
    border: 0;
    background-image: url("EnvelopeSimple.png");
    background-repeat: no-repeat;
    background-position: 25px center;
    padding-left: 20px;
}

.ptag4 {
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: left;
    color: #CCCCCC;
}

.ptag5 {
    font-size: 22px;
    font-weight: 700;
    line-height: 35.2px;
    text-align: left;
    color: white;
}

.greyy {
     background-color: #3B3B3B;
}

.btnn2 {
    position: absolute;
    top: 0;
    right: 0;
    width: 179px;
    height: 60px;
    border-radius: 20px;
    opacity: 0px;
    background-color: #A259FF;
    color: white;
    outline: none;
    border: 0;
}

.hr {
    border: 1px solid #858584
}


@media screen and (max-width: 768px) {
    .NFT {
        font-size: 28px;
        font-weight: 600;
        line-height: 39.2px;
        text-align: left;
    }

    .ptext1 {
        font-size: 16px;
        font-weight: 400;
        line-height: 22.4px;
        text-align: left;
    }

    .button-rocket {
        width: 100%;
        margin-top: 15px;
    }

    .input {
        width: 315px;
        height: 46px;
    }

    .info1, .NFT1 {
        display: block;
        margin: auto;
    }

    .hightlight {
        width: 100%;
    }

    .photoa1 {
        margin-left: 15px;
    }

    .ptext2 {
        text-align: center;
    }

}

      
